<div class="flex flex-col h-screen bg-blue-200">
  <%= form_tag owners_path, class: 'px-3 flex flex-col md:flex-row items-center w-full my-5' do %>
    <label for="restaurant-input" class="text-gray-700 text-base">
      Novo estabelecimento
    </label>
    <div class="m-5 md:my-0">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200
                    rounded w-full py-2 px-4 text-gray-700 leading-tight
                    border-blue-300 focus:outline-none focus:bg-white
                    focus:border-blue-500"
             id="restaurant-input"
             type="text">
    </div>
    <div>
      <button class="shadow bg-blue-500 hover:bg-blue-400
                     focus:shadow-outline focus:outline-none text-white font-bold py-2
                     px-4 rounded"
              type="submit">
        Cadastrar
      </button>
    </div>
  <% end %>

  <%= form_tag owners_tables_path, class: 'px-3 flex flex-col md:flex-row items-center w-full my-5' do %>
    <label for="tables-input" class="text-gray-700 text-base">
      Número de mesas
    </label>
    <div class="m-5 md:my-0">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200
                    rounded w-full py-2 px-4 text-gray-700 leading-tight
                    border-blue-300 focus:outline-none focus:bg-white
                    focus:border-blue-500"
             id="tables-input"
             type="text">
    </div>
    <div>
      <button class="shadow bg-blue-500 hover:bg-blue-400
                     focus:shadow-outline focus:outline-none text-white font-bold py-2
                     px-4 rounded"
              type="submit">
        Cadastrar
      </button>
    </div>
  <% end %>
</div>
