<div class="flex flex-col h-screen bg-blue-200">
  <h1>Criar Restaurante</h1>

  <%= render 'restaurant_form', { owner: @owner, restaurant: @restaurant } %>
  <%= link_to 'Voltar', owner_path(@owner) %>
</div>
