<div class="flex flex-col h-screen bg-blue-200">
  <div>
    <h1>Restaurante <%= @restaurant.name %></h1>

    <div>
      <p>Código de acesso para os funcionários: <%= @restaurant.code %></p>
    </div>
  </div>
</div>
