<div class="container flex flex-col h-screen">
  <%= link_to customers_path, class: 'menu-item bg-blue-200' do %>
    <div class="text-gray-800 font-bold">
      Sou cliente
    </div>
  <% end %>
  <%= link_to orders_path, class: 'menu-item bg-blue-400' do %>
    <div class="text-gray-900 font-bold">
      Sou atendente
    </div>
  <% end %>
  <%= link_to owners_path, class: 'menu-item bg-blue-200' do %>
    <div class="text-gray-800 font-bold">
      Sou dono
    </div>
  <% end %>
</div>
