<div class="container flex flex-col h-screen">
  <%= link_to time_slots_owners_path, class: 'menu-item bg-blue-600 hover:bg-blue-500' do %>
    <div class="text-gray-300 font-bold">
      Sou cliente
    </div>
  <% end %>
  <%= link_to orders_path, class: 'menu-item bg-blue-400 hover:bg-blue-300' do %>
    <div class="text-gray-800 font-bold">
      Sou atendente
    </div>
  <% end %>
  <%= link_to owner_path(@owner), class: 'menu-item bg-blue-600 hover:bg-blue-500' do %>
    <div class="text-gray-300 font-bold">
      Sou dona
    </div>
  <% end %>
</div>
