<div class="flex flex-col h-full overflow-auto bg-blue-200 p-5">
  <div class="my-3 rounded shadow-md bg-red-400 p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Pizzaria da Nonna</div>
      <p class="text-gray-700 text-base">
        A melhor pizza em forno de pedra da cidade
      </p>
    </div>
  </div>

  <div class="my-3 rounded shadow-md bg-blue-400 p-4 flex flex-col justify-between leading-normal">
    <div class="mb-6">
      <div class="text-gray-900 font-bold text-xl mb-2">Z Deli Sanduíches</div>
      <p class="text-gray-700 text-base">
        A melhor hamburgueria da praça
      </p>
    </div>
  </div>

  <div class="my-3 rounded shadow-md bg-orange-400 p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Al Habibi</div>
      <p class="text-gray-700 text-base">
        Shawarma, esfihas, falafel e especialidades árabes.
      </p>
    </div>
  </div>

  <div class="my-3 rounded shadow-md bg-green-500 p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Restaurante Marietta</div>
      <p class="text-gray-700 text-base">
        Massas fresquinhas para agradar seu dia
      </p>
    </div>
  </div>
</div>
