<div class="container flex flex-col h-screen">
  <div class="flex-grow flex justify-center items-center w-screen bg-blue-600">
    <div class="text-gray-300 font-bold">
      Em breve :)
    </div>
  </div>
</div>
