<div class="container flex flex-col h-screen">
  <div class="flex-grow flex justify-center items-center w-screen bg-blue-600">
    <div class="font-bold">
      Construindo o seu pedido
    </div>
  </div>
</div>
