<div class="flex h-full justify-center items-center bg-blue-600">
  <div class="flex bg-gray-300 p-16 justify-center rounded">
    <%= form_tag restaurant_check_code_path, class: "flex flex-col justify-between h-32" do %>
      <%= label_tag "code", "Código de acesso", class: "font-medium" %>
      <%= text_field_tag "code", "", class: "w-full form-input" %>

      <%= submit_tag "Confirmar", class: "w-full form-button bg-blue-600 hover:bg-blue-500" %>
    <% end %>
  </div>
</div>
