<div class="py-5">
  <% @menu.each do |item| %>
    <div class='card md:flex-col items-center md:items-stretch border-solid border-b border-gray-500 bg-gray-300 text-sm'>
      <div>
        <div class="mb-1">
          <div class="text-gray-900 font-bold"><%= item[:name] %></div>
        </div>
        <div class="mb-2">
          <div class="text-gray-800"><%= item[:description] %></div>
        </div>
        <div class="mb-2">
          <div class="text-green-800 font-bold"><%= number_to_currency(item[:value], unit: 'R$', format: "%u %n") %></div>
        </div>
      </div>

      <%= link_to orders_path(params: { item_id: item[:id], restaurant_id: @restaurant_id, time_slot: params[:time_slot] }),
            class: "shadow bg-green-500 hover:bg-green-400 focus:shadow-outline
                    focus:outline-none text-white font-bold py-2 px-4 rounded",
            method: :post do %>
          Comprar
      <% end %>
    </div>
  <% end %>
</div>
