<div class="p-2 grid gap-1">
  <% @menu.each do |item| %>
    <div class='card flex-col items-center items-stretch border-solid border-b border-gray-500 bg-gray-300 text-sm'>
      <div>
        <div class="mb-1">
          <div class="text-gray-900 font-bold"><%= item[:name] %></div>
        </div>
        <div class="mb-2">
          <div class="text-gray-800"><%= item[:description] %></div>
        </div>
        <div class="mb-2">
          <div class="text-green-800 font-bold"><%= number_to_currency(item[:value], unit: 'R$', format: "%u %n") %></div>
        </div>
      </div>

      <%= form_tag orders_path(params: { item_id: item[:id], restaurant_id: @restaurant_id, time_slot_id: params[:time_slot_id] }),
            class: "",
            method: :post do %>
        <input class="form-input phone-number"
               name="phone_number"
               type="text">
        <button type="submit" class="form-button bg-green-600 hover:bg-green-500">
          Comprar
        </button>
      <% end %>
    </div>
  <% end %>
</div>

<script>
document.querySelectorAll('.phone-number').forEach(el => {
  IMask(el, { mask: '+{55} (00) 00000-0000' });
})
</script>
