<div class="h-screen w-full bg-blue-600 flex flex-col items-center justify-center">
  <div class="bg-gray-100 md:w-1/2 w-full px-4 py-8">
    <h6 class="font-bold text-xl mb-2">Pedidos</h6>

    <% @orders.each do |order| %>
      <tr>
        <div class="bg-gray-300 px-4 py-4 mb-4 h-20 flex items-center justify-between shadow-md">
          <p class="inline"><%= "# #{order.id.to_s.upcase[-4..-1]} - #{order.item.name}" %></p>
          <%= link_to "Chamar cliente!", order_complete_path(order.id), class: "form-button float-right bg-green-500", method: 'put' %>
        </div>
      </tr>
    <% end %>
  </div>
</div>
