<div class="h-full w-full bg-blue-600 flex flex-col items-center justify-center">
  <div class="bg-gray-100 md:w-1/2 w-full rounded p-4">
    <div>
      <%= link_to restaurant_orders_path(@restaurant.id) do %>
        <div class="w-auto form-button bg-green-600 hover:bg-green-500 mb-4">
          Ver pedidos
        </div>
      <% end %>
    </div>

    <div class="border border-gray-600 rounded mb-4"></div>

    <div>
      <h6 class="font-bold text-xl mb-2">Produtos</h6>

      <%- @restaurant.items.each do |item| %>
        <div class="bg-gray-300 p-4 mb-4 shadow-md">
          <%= item.name %>
          <div class="float-right inline-block">
            R$ <%= sprintf("%.2f", item.value) %>
          </div>
        </div>
      <% end %>

      <%= link_to new_restaurant_item_path(@restaurant.id) do %>
        <div class="w-auto font-bold shadow bg-blue-600 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
          Cadastrar novo item
        </div>
      <% end %>
    </div>

  </div>
</div>
