<nav class="flex items-center justify-between flex-wrap bg-blue-600 p-6 border-b-2 border-blue-200">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">
      <%= link_to 'Desaglomera 🍴', time_slots_orders_path  %>
    </span>
  </div>
  <div class="block lg:hidden">
    <button id="menu-button" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
  </div>
  <div id="menu-items" class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to time_slots_orders_path, class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4' do %>
        Fazer um pedido
      <% end %>
      <%= link_to restaurants_code_path, class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4' do %>
        Acesso do atendente
      <% end %>

      <%= link_to owner_path(Owner.first), class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4' do %>
        Gestão
      <% end %>
    </div>
  </div>
</nav>

<script>
var menu = document.getElementById("menu-button")
var menuItems = document.getElementById("menu-items")

menu.addEventListener('click', (el) => {
  menuItems.classList.toggle('hidden')
})
</script>
